*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
    [class^="column-xs-"],
    [class^="column-sm-"],
    [class^="column-md-"],
    [class^="column-lg-"],
    [class^="column-xl-"],
    [class^="column-xxl-"]{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        border: 2px dashed #ddd;
        padding-top: 15px;
        text-align: center;
        margin-top: 10px;
    

}
h1 {text-align: center;font-size: 40px;margin-bottom: 57px;padding-top: 40px;color: red;}
div {color: red;font-size: 20px;line-height: 41px;}

@media screen and (min-width:375px){
    .column-xs-1
    .column-xs-2
    .column-xs-3
    .column-xs-4
    .column-xs-5
    .column-xs-6
    .column-xs-7
    .column-xs-8
    .column-xs-9
    .column-xs-10
    .column-xs-11
    .column-xs-12{
        float: left;
    }
    .column-xs-1{
        width: 8.33333333%;
    }
    .column-xs-2{
        width: 16.66666666%;
    }
    .column-xs-3{
        width: 25%;
    }
    .column-xs-4{
        width: 33.333333333%;
    }
    .column-xs-5{
        width: 41.66666666%;
    }
    .column-xs-6{
        width: 50%;
    }
    .column-xs-7{
        width: 58.33333333%;
    }
    .column-xs-8{
        width: 66.66666666%;
    }
    .column-xs-9{
        width: 75%;
    }
    .column-xs-10{
        width: 83.33333333%;
    }
    .column-xs-11{
        width: 91.66666666%;
    }
    .column-xs-12{
        width: 100%;
    }

@media screen and (min-width:576px){
.column-sm-1
.column-sm-2
.column-sm-3
.column-sm-4
.column-sm-5
.column-sm-6
.column-sm-7
.column-sm-8
.column-sm-9
.column-sm-10
.column-sm-11
.column-sm-12{
    float: left;
}
.column-sm-1{
    width: 8.33333333%;
}
.column-sm-2{
    width: 16.66666666%;
}
.column-sm-3{
    width: 25%;
}
.column-sm-4{
    width: 33.333333333%;
}
.column-sm-5{
    width: 41.66666666%;
}
.column-sm-6{
    width: 50%;
}
.column-sm-7{
    width: 58.33333333%;
}
.column-sm-8{
    width: 66.66666666%;
}
.column-sm-9{
    width: 75%;
}
.column-sm-10{
    width: 83.33333333%;
}
.column-sm-11{
    width: 91.66666666%;
}
.column-sm-12{
    width: 100%;
}
@media screen and (min-width:768px){
    .column-md-1
    .column-md-2
    .column-md-3
    .column-md-4
    .column-md-5
    .column-md-6
    .column-md-7
    .column-md-8
    .column-md-9
    .column-md-10
    .column-md-11
    .column-md-12{
        float: left;
    }
    .column-md-1{
        width: 8.33333333%;
    }
    .column-md-2{
        width: 16.66666666%;
    }
    .column-md-3{
        width: 25%;
    }
    .column-md-4{
        width: 33.333333333%;
    }
    .column-md-5{
        width: 41.66666666%;
    }
    .column-md-6{
        width: 50%;
    }
    .column-md-7{
        width: 58.33333333%;
    }
    .column-md-8{
        width: 66.66666666%;
    }
    .column-md-9{
        width: 75%;
    }
    .column-md-10{
        width: 83.33333333%;
    }
    .column-md-11{
        width: 91.66666666%;
    }
    .column-md-12{
        width: 100%;
    }
    @media screen and (min-width:992px){
        .column-lg-1
        .column-lg-2
        .column-lg-3
        .column-lg-4
        .column-lg-5
        .column-lg-6
        .column-lg-7
        .column-lg-8
        .column-lg-9
        .column-lg-10
        .column-lg-11
        .column-lg-12{
            float: left;
        }
        .column-lg-1{
            width: 8.33333333%;
        }
        .column-lg-2{
            width: 16.66666666%;
        }
        .column-lg-3{
            width: 25%;
        }
        .column-lg-4{
            width: 33.333333333%;
        }
        .column-lg-5{
            width: 41.66666666%;
        }
        .column-lg-6{
            width: 50%;
        }
        .column-lg-7{
            width: 58.33333333%;
        }
        .column-lg-8{
            width: 66.66666666%;
        }
        .column-lg-9{
            width: 75%;
        }
        .column-lg-10{
            width: 83.33333333%;
        }
        .column-lg-11{
            width: 91.66666666%;
        }
        .column-lg-12{
            width: 100%;
        }
        @media screen and (min-width:1200px){
            .column-xl-1
            .column-xl-2
            .column-xl-3
            .column-xl-4
            .column-xl-5
            .column-xl-6
            .column-xl-7
            .column-xl-8
            .column-xl-9
            .column-xl-10
            .column-xl-11
            .column-xl-12{
                float: left;
            }
            .column-xl-1{
                width: 8.33333333%;
            }
            .column-xl-2{
                width: 16.66666666%;
            }
            .column-xl-3{
                width: 25%;
            }
            .column-xl-4{
                width: 33.333333333%;
            }
            .column-xl-5{
                width: 41.66666666%;
            }
            .column-xl-6{
                width: 50%;
            }
            .column-xl-7{
                width: 58.33333333%;
            }
            .column-xl-8{
                width: 66.66666666%;
            }
            .column-xl-9{
                width: 75%;
            }
            .column-xl-10{
                width: 83.33333333%;
            }
            .column-xl-11{
                width: 91.66666666%;
            }
            .column-xl-12{
                width: 100%;
            }
            @media screen and (min-width:1400px){
                .column-xxl-1
                .column-xxl-2
                .column-xxl-3
                .column-xxl-4
                .column-xxl-5
                .column-xxl-6
                .column-xxl-7
                .column-xxl-8
                .column-xxl-9
                .column-xxl-10
                .column-xxl-11
                .column-xxl-12{
                    float: left;
                }
                .column-xxl-1{
                    width: 8.33333333%;
                }
                .column-xxl-2{
                    width: 16.66666666%;
                }
                .column-xxl-3{
                    width: 25%;
                }
                .column-xxl-4{
                    width: 33.333333333%;
                }
                .column-xxl-5{
                    width: 41.66666666%;
                }
                .column-xxl-6{
                    width: 50%;
                }
                .column-xxl-7{
                    width: 58.33333333%;
                }
                .column-xxl-8{
                    width: 66.66666666%;
                }
                .column-xxl-9{
                    width: 75%;
                }
                .column-xxl-10{
                    width: 83.33333333%;
                }
                .column-xxl-11{
                    width: 91.66666666%;
                }
                .column-xxl-12{
                    width: 100%;
                }
              
            
        